* {
    font-family:'JetBrains Mono', monospace;
}

body {
    background-color: #1e1e2e;
}

body, h1, h2, h3, h4, h5, h6, p, span {
    color: #cdd6f4;
}

b {
    font-weight: 700;
}

body::selection, h1::selection, h2::selection, h3::selection,
h4::selection, h5::selection, h6::selection, p::selection, span::selection,
b::selection, i::selection, .navbar-brand::selection, #about::selection, #projects::selection,
#blog::selection, footer::selection, .footer>.container::selection{
    background-color: #cba6f7;
    color: #1e1e2e;
}

.navbar {
    background-color: #181825;
    width: 100%;
}

footer, .footer {
    background-color: #1e1e2e;
}

.navbar-brand {
    color: #cba6f7;
    font-weight: bold;
    font-size: 1.5rem;
    letter-spacing: .06rem;
    animation: fadeIn 1.5s ease-in-out;
    transition: color 0.3s ease-in-out;
}

 .navbar-brand:hover {
    color: #94e2d5;
}

.navbar .container {
    margin-left: auto;
    margin-right: auto;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='%23b4befe' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

#about{
    color: #89b4fa;
    font-weight: bold;
    transition: color 0.3s ease-in-out;
    animation: fadeIn 1.25s ease-in-out;
}

#projects{
    color: #94e2d5;
    font-weight: bold;
    transition: color 0.3s ease-in-out;
    animation: fadeIn 1.25s ease-in-out;
}

#blog{
    color: #a6e3a1;
    font-weight: bold;
    transition: color 0.3s ease-in-out;
    animation: fadeIn 1.25s ease-in-out;
}

#about:hover, #projects:hover, #contact:hover, #blog:hover{
    color: #cba6f7;
    text-decoration: underline;
}

.portrait{
    width: 12.5rem;
    border: 3px solid #181825;
    margin-bottom: 20px;
}

.footer {
    color: #fab387;
}

.footer .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#index-container {
    display: grid;
    place-items: center;
    margin-top: 7%;
    font-size: 2rem;
}

.text {
  width: 12ch;
  animation: typing 1.5s steps(11), blink .5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid #cdd6f4;
  font-size: 2rem;
  font-weight: 200;
  color: #cba6f7;
  margin-bottom: 0;
}

.fade-in {
    animation: fadeIn 4s ease-in-out;
}

.title {
    width: 19ch;
    animation:fadeIn 4s ease-in-out, typing 2.5s, blink .5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    font-size: 1.5rem;
    font-weight: 300;
    color: #a6adc8;
}

.github-icon-link {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #f2cdcd;
    transition: color 0.2s ease-in-out;
    width: auto;
}

.linkedin-icon-link {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #74c7ec;
    transition: color 0.2s ease-in-out;
    width: auto;
}

.mail-icon-link {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #f9e2af;
    transition: color 0.2s ease-in-out;
    width: auto;
}

.resume-icon-link {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: auto;
    text-decoration: none;
    color: #cdd6f4;
    transition: color 0.2s ease-in-out;
}

.linkedin-icon-link:hover, .linkedin-icon-link:active,
.github-icon-link:hover, .github-icon-link:active,
.mail-icon-link:hover, .mail-icon-link:active,
.resume-icon-link:hover, .resume-icon-link:active{
    color: #cba6f7;
}

.tooltip-inner {
    color: #cdd6f4;
    background-color: #181825;
    font-size: 1rem;
    border: 2px solid #b4befe;
}

.tooltip.bs-tooltip-top .tooltip-arrow::before {
      border-top-color: #b4befe !important;
	}
.tooltip.bs-tooltip-bottom .tooltip-arrow::before {
      border-bottom-color: #b4befe !important;
    }
.tooltip.bs-tooltip-start .tooltip-arrow::before {
      border-left-color: #1e1e2e !important;
    }

    .tooltip.bs-tooltip-end .tooltip-arrow::before {
      border-right-color: #1e1e2e !important;
}

@keyframes typing {
  from {
    width: 0
  }
}

@keyframes blink {
  50% {
    border-color: transparent
  }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.about-heading-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.heading-primary {
    color: #89b4fa;
    letter-spacing: 3px;
}

.heading-primary::after {
    content: '';
    display: block;
    width: 25px;
    height: 4px;
    background-color: #94e2d5;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 2px;
}

.heading-secondary {
    font-size: 1.1rem;
    text-align: center;
}

.heading-secondary>b {
    color: rgba(24, 24, 37, 0);
}

.heading-secondary>b::selection {
    background-color: #cba6f7;
    color: #1e1e2e;
}

.about-page {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: row;
    text-align: left;
    width: 75vw;
}

.about-h3 {
    font-size: 1.5rem;
    font-weight: bold;
    text-align: left;
    color: #eba0ac;
}

.about-text {
    flex: 1;
    margin-right: 5vw;
    font-weight: 200;
}

.about-p {
    color: #a6adc8;
}

.about-p>b {
    color: #b4befe;
}

.skills-text {
    flex: 1;
    font-weight: 200;
}

.badge {
    background-color: #94e2d5;
    font-size: 1.15rem;
    margin: 5px;
    color: #1e1e2e;
    transition: background-color 0.3s ease-in-out, font-size 0.2s ease-in-out;
    white-space: normal; /* Allows text to wrap */
    word-break: break-word; /* Breaks long words */
}

.badge:hover {
    background-color: #cba6f7;
    font-size: 1.2rem;
    cursor: default;
}

@media (max-width: 768px) {
    .about-container {
        flex-direction: column;
        align-items: center;
        text-align: center;
        width: 90vw;
    }

    .about-h3 {
        text-align: center;
    }

    .about-text, .skills-text {
        text-align: center;
        width: 100%;
    }

    .skills-text {
        margin-top: 20px; /* Add some spacing between the sections */
    }
}