@page
@model MyApp.Namespace.AboutModel
@{
    ViewData["Title"] = "Omar Ashraf";
}

<div class="about-heading-container">
    <h1 class="heading-primary">ABOUT ME</h1>
    <span class="heading-secondary">
        Here is where you'll find more information about me, my skills, and some of my hobbies <br>
        <b> – because it's my website, and I can.</b>
    </span>
</div>

<div class="about-container">
    <div class="about-text">
        <h3>Nice to meet you</h3>
    </div>
    <div class="skills-text">
        <h3>Skills</h3>
    </div>
</div>