@page
@model MyApp.Namespace.AboutModel
@{
    ViewData["Title"] = "Omar Ashraf";
}

<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus explicabo doloremque mollitia, optio est,
    vitae debitis eius suscipit odit natus eos laudantium. Neque, ducimus autem? Neque consequuntur ratione adipisci
    atque.</p>