@page
@model MyApp.Namespace.AboutModel
@{
    ViewData["Title"] = "Omar Ashraf";
}

<div class="about-page">
    <div class="about-heading-container">
        <h1 class="heading-primary">ABOUT ME</h1>
        <span class="heading-secondary">
            Here is where you'll find more information about me, my skills, and some of my hobbies <br>
            <b> – because it's my website, and I can.</b>
        </span>
    </div>

    <div class="about-container">
        <div class="about-text">
            <h3 class="about-h3">Nice to meet you</h3>
            <p class="about-p">
                I'm a senior <b>Computer Engineering</b> student at the German University in Cairo and a
                <b>Software Engineer</b> who's passionate about making anything that people enjoy or have a practical
                use for <i>(or both)</i>. My goal as an engineer is to write <b>efficient</b> and <b>maintainable</b>
                code, while giving the user an enjoyable and stable experience along the way.
            </p>
            <p class="about-p">
                When I'm away from a code editor, I'm probably still at my computer. I'm an avid lifelong <b>gamer</b>,
                as well as a YouTube <b>enthusiast</b>, where I watch videos on every topic and niche imaginable. I love
                gaining new information and learning novel skills. I also have a deep passion for cooking, stemming from
                my love of cooking shows as a child.
            </p>
        </div>
        <div class="skills-text">
            <h3 class="about-h3">Skills</h3>
            <p>
                <span class="badge">C# & .NET</span>
                <span class="badge"><i class="fa-brands fa-python"></i> Python</span>
                <span class="badge"><i class="fa-brands fa-java"></i> Java</span>
                <span class="badge"><i class="fa-brands fa-js"></i> JavaScript</span>
                <span class="badge"><i class="fa-brands fa-html5"></i> HTML</span>
                <span class="badge"><i class="fa-brands fa-css3-alt"></i> CSS</span>
                <span class="badge"><i class="fa-brands fa-git"></i> Version Control</span>
                <span class="badge"><i class="fa-brands fa-github"></i> GitHub</span>
                <span class="badge"><i class="fa-solid fa-terminal"></i> UNIX Terminal Navigation & Commands</span>
                <span class="badge"><i class="fa-solid fa-database"></i> SQL & NoSQL Databases</span>
            </p>
        </div>
    </div>
</div>