@page
@model IndexModel
@{
    ViewData["Title"] = "Omar Ashraf";
}

<div class="text-center" id="index-container">
    <img src="~/images/Me.jpg" class="portrait rounded-circle" alt="Me">
    <p class="text">Omar Ashraf</p>
    <p class="title">Software Engineer</p>
    <div class="icon-container">
        <a aria-label="Github" href="https://github.com/OmarAshraf-02" class="github-icon-link" target="_blank">
            <i class="fa-brands fa-github" aria-hidden="true"></i>
        </a>
        <a aria-label="Linkedin" href="https://linkedin.com/in/omarashraf02" class="linkedin-icon-link" target="_blank">
            <i class="fa-brands fa-linkedin" aria-hidden="true"></i>
        </a>
    </div>
</div>
