@page
@model IndexModel
@{
    ViewData["Title"] = "Omar Ashraf";
}

<div class="text-center" id="index-container">
    <img src="~/images/Me.jpg" class="portrait rounded-circle" alt="Me">
    <p class="text">Omar Ashraf</p>
    <p class="title">Software Engineer</p>
    <div class="icon-container">
        <a aria-label="Github" href="https://github.com/OmarAshraf-02" class="github-icon-link" target="_blank"
            data-bs-toggle="tooltip" data-bs-placement="bottom" title="GitHub">
            <i class="fa-brands fa-github" aria-hidden="true"></i>
        </a>
        <a aria-label="Linkedin" href="https://linkedin.com/in/omarashraf02" class="linkedin-icon-link" target="_blank"
            data-bs-toggle="tooltip" data-bs-placement="bottom" title="LinkedIn">
            <i class="fa-brands fa-linkedin" aria-hidden="true"></i>
        </a>
        <a aria-label="Contact" href="mailto:omar@omarashraf.dev" class="mail-icon-link" target="_blank"
            data-bs-toggle="tooltip" data-bs-placement="bottom" title="Contact">
            <i class="fa-solid fa-envelope" aria-hidden="true"></i>
        </a>
        <a aria-label="Resume" asp-area="" asp-page="/Resume" class="resume-icon-link" target="_blank"
            data-bs-toggle="tooltip" data-bs-placement="bottom" title="Résumé">
            <i class="fa-solid fa-rectangle-list"></i>
        </a>
    </div>
</div>